.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  inset: 0;
}

.text {
  font-size: 27px;
}

.horse {
  font-size: 31px;
}

@include m768 {
  .horse {
    font-size: 360px;
  }
}
