.wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  max-width: 70vw;
  margin-inline: auto;
  gap: rem(40) rem(30);
}

.wrapHorse {
  display: none;
  visibility: hidden;
}

.wrapDisplay {
  display: flex;
  flex-wrap: wrap;
  align-self: end;
  justify-content: end;

  width: 100%;
  height: fit-content;

  gap: rem(20);
}

.wrapDefaultLeft,
.wrapDefaultRight {
  align-self: start;
}

.wrapDefaultLeft {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.wrapDefaultRight {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.display {
  align-self: start;
}

.controls {
  align-self: end;

  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

@include m1440 {
  .wrap {
    max-width: 90vw;
  }
}

@include m768 {
  .wrap {
    display: none;
    visibility: hidden;
  }

  .wrapHorse {
    height: 100vh;
    display: initial;
    visibility: visible;
  }
}
